{{!--
  FILE: views/admin/posts.handlebars
  PURPOSE: Full list of all posts for management.
--}}
<div class="admin-section-header">
  <p>{{posts.length}} total posts</p>
  <a href="/posts/new" class="btn">+ New Post</a>
</div>

<table class="admin-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Slug</th>
      <th>Category</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
      <tr>
        <td>{{this.id}}</td>
        <td><strong>{{this.title}}</strong></td>
        <td><code>{{this.slug}}</code></td>
        <td>
          <a href="http://localhost:3000/category/{{this.categorySlug}}" target="_blank">
            {{this.category}}
          </a>
        </td>
        <td>{{formatDate this.date}}</td>
        <td>
          <a href="/posts/{{this.slug}}/edit" class="btn btn--small">Edit</a>
          <a href="http://localhost:3000/posts/{{this.slug}}" target="_blank" class="btn btn--small btn--outline">View</a>
        </td>
      </tr>
    {{else}}
      <tr><td colspan="6">No posts.</td></tr>
    {{/each}}
  </tbody>
</table>
